.header{
    color: var(--main-theme-main-color);
    padding: 30px;
    font-size: 2rem;
    display: flex;

    .headerText{
        padding: 20px;
    }

    .header-icon{
        color: var(--main-theme-main-color);
        cursor: pointer;
        padding: 20px;
    }
}

.resume{
    height: 100%;
}

.timeline{
    display: flex;
    width: 100%;
    padding: 20px;

    &__experience, &__education{
        width: 50%;
        gap: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__header-text{
            margin-bottom: 10px;
            font-size: 2.5rem;
            font-weight: 700;
            color: var(--main-theme-accent-main-color);
        }

        &__vertical-timeline-element{
            padding: 0px 0px 30px 0px;

            &:last-child{
                padding-bottom: 0px;
            }
        }
        
        .vertical-timeline-element-title-wrapper{
            display: flex;
            align-items: center;

            h3,h4{
                font-size: 16px;
            }
            h4{
                margin-left: 8px;
            }
        }

        .vertical-timeline-element-company{
            font-size: 16px;
        }

        p{
            font-size: 18px;
        }

        .vertical-timeline-element-content{
            box-shadow: none;
            border-radius: 8px;
        }

        .vertical-timeline-element-content-arrow{
            display: none;
        }

        .vertical-timeline-element-date{
            opacity: 1;
            color: var(--main-theme-accent-main-color);
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .timeline{
        flex-direction: column;
        
        &__experience, &__education{
            width: 100%;
            gap: 2rem;
        }
    }

    .header{
        display: inline-block;
    }
}