.contact{

    &__content{
        padding: 20px;

        &__header-text{
            color: var(--main-theme-accent-main-color);
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
            line-height: 1em;
            letter-spacing: 0.5px;
            position: relative;
            text-transform: uppercase;
            padding: 5px 10px;
        }

        &__form{
            margin-top: 10px;

            &__controlWrapper{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 40px;
                margin-bottom: 30px;

                div{
                    position: relative;
                    
                    .inputName,
                    .inputEmail,
                    .inputBody{
                        width: 100%;
                        border: 1px solid var(--main-theme-main-color);
                        border-radius: 5px;
                        padding: 16px 12px;
                        transition: all 0.5s ease;
                        position: relative;
                        background-color: transparent;
                        color: var(--main-theme-sub-text-color);
                        box-shadow: 5px 10px 10px 5px #cad6f220;
                    }

                    .nameLabel,
                    .emailLabel,
                    .bodyLabel{
                        font-weight: 500;
                        position: absolute;
                        top: 7px;
                        left: 12px;
                        transition: all 0.2s ease;
                        color: var(--main-theme-main-color);
                        font-size: 16px;
                    }

                    .inputName:focus,
                    .inputEmail:focus,
                    .inputBody:focus{
                        outline: none;
                    }

                    .inputName:focus + .nameLabel,
                    .inputName:valid + .nameLabel,
                    .inputEmail:focus + .emailLabel,
                    .inputEmail:valid + .emailLabel,
                    .inputBody:focus + .bodyLabel,
                    .inputBody:valid + .bodyLabel{
                        font-size: 18px;
                        top: -25px;
                        left: 0px;
                    }

                }
            }
        }
        
        button{
            cursor: pointer;
            padding: 10px 70px;
            font-size: 2rem;
            background: transparent;
            border: 1px solid var(--main-theme-main-color);
            color: var(--main-theme-main-color);
            border-radius: 5px;
            font-weight: 600;

            &:hover{
                background: var(--main-theme-nav-background-color);
            }
        }

    }

    .modal {
        display: none; /* Initially hidden */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #2a2c2290;
      }
      
      .modal-content {
        background-color: var(--main-theme-background-color);
        color: var(--main-theme-main-color);
        margin: 15% auto;
        padding: 0px 50px 20px 50px;
        border: 1px solid var(--main-theme-accent-main-color);
        width: 50%;
        line-height: 30px;
        box-shadow: 5px 10px 10px 5px #72a1de10;
        border-radius: 5px;

        .modal-header{
            margin-top: 10px;
        }

        h1{
            font-size: 20px;
            font-weight: 600;
        }
        
        p{
            margin-top: 20px;
            font-size: 16px;
        }
      }
      
      .close {
        float: right;     
        position: relative;
        top: 0;
        font-size: 35px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
      }
      
      .modal.show {
        display: block;
      }
}

@media only screen and (max-width: 768px){
    .contact__content__form{
        text-align: center;

        &__controlWrapper{
            grid-template-columns: repeat(1,1fr);

        }
    }

    .modal{
        .modal-content{
            margin: 50% auto;
            width: 90%;
        }
    }
}